bodystyle 
{ 
 font-family: Josefin Sans; 
 font-size: 16px; 
   
}



        .style12
        {
            width: 100%;
        }
         .style13
        {
            width: 99%;
        }
    
        .style16
        {
            width: 24%;
            height: 34px;
        }
        .style18
        {
            width: 100%;
            height: 34px;
        }
        .style19
        {
            width: 85%;
            height: 34px;
        }
    
        .style21
        {
            height: 19px;
            width: 20%;
        }
        .style22
        {
            width: 20%;
            height: 34px;
        }
        .style25
        {
            width: 91%;
        }
        .style34
        {
            width: 21%;
            height: 34px;
        }
        .style35
        {
            height: 19px;
            width: 21%;
        }
    
         .style38
         {
             width: 17%;
             height: 34px;
         }
         .style39
         {
             height: 19px;
             width: 17%;
         }